.bg {
  height: 100%;
  width: 100%;
}
.bg-color {
  background-color: #fea667;
}

html {
  background-color: #fea667;
}

.vertical-center {
  /* padding: auto; */
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.bg-loader {
  position: absolute;
  z-index: 1000;
  top: 0;
  margin: 0;
  left: 0px;
}

.border{
  border: solid 1px black;
}

.img-size{
  width: 15%;
  height: auto;
}